

.image-group{
    position: relative;
    width: 25rem;
   height: 25rem;
    overflow: hidden;

 img{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-size: cover;
    transition: 0.2s ;
    cursor: pointer;
    
&:nth-child(1){
    transform: translateX(50%) scaleX(2);
    opacity: 0;
    filter: blur(8px);
}}

  &:hover{
    img{
      &:nth-child(1){
    transform: translateX(0) scaleX(1);
    opacity: 1;
    filter: blur(0px);}
      
      &:nth-child(2){
    transform: translateX(-50%) scaleX(2);
    opacity: 0;
    filter: blur(8px);}
    
    }}}
    
